# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
/Autism.pyc
/BoardPad.pyc
/CommandInterpreter.pyc
/DebugLog.pyc
/DictOutput.pyc
/MLStripper.pyc
/Notifier.pyc
/Statusbar.pyc
/ThreadFetcher.pyc
/CatalogFetcher.pyc
/CatalogOutput.pyc
/CommandPad.pyc
/Config.pyc
/yottu.pyc
/WindowLogic.pyc
/Pad.pyc
/CatalogPad.pyc
/debug.log
/yottu-captcha.jpg
/Updater.pyc
/Bar.pyc
/kill.sh
/PostReply.pyc
/TermImage.pyc
/Titlebar.pyc
