/Autism.pyc
/BoardPad.pyc
/CommandInterpreter.pyc
/DebugLog.pyc
/DictOutput.pyc
/MLStripper.pyc
/Notifier.pyc
/Statusbar.pyc
/ThreadFetcher.pyc
/CatalogFetcher.pyc
/CatalogOutput.pyc
/CommandPad.pyc
/Config.pyc
/yottu.pyc
/WindowLogic.pyc
/Pad.pyc
/CatalogPad.pyc
/debug.log
/yottu-captcha.jpg
/Updater.pyc
/Bar.pyc
/kill.sh
/PostReply.pyc
/TermImage.pyc
/Titlebar.pyc
